/* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #1e90ff;
    color: white;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
  } */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #1e90ff;
  color: white;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  margin-top: 0;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.menuButton {
  display: none;
  background: none;
  border: none;
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navLinks li {
  display: inline;
}

.navLinks a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 5px 10px;
  transition: 0.3s;
}

.navLinks a:hover,
.active {
  /* background-color: white; */
  background-color: #006ad1;
  color: #1e90ff;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .menuButton {
    display: block;
  }

  .navLinks {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #1e90ff;
    padding: 10px 0;
  }

  .navLinks.open {
    display: flex;
  }
}
